@import './../../styles/variables';

.modalContainer {
    background-color: $background-modal;
}

.modalBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.modalFooter {
    display: flex;
    justify-content: end;
    margin-top: 30px;

    & > button:first-child {
        margin-right: 10px;
    }
}

.item-name {
    color: $color-sub-heading;
}