@import './styles/variables';

body {
  margin: 0;
  font-family: "Inter", serif;
}

.color-white {
  color: $white;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.color-pink {
  color: $pink;
}

.delete-red {
  color: $red-delete;
}

.error-message {
  font-size: 12px;
  margin-top: 4px;
}