@import './styles/variables';

body {
  margin: 0;
  font-family: "Inter", serif;
}

.color-white {
  color: $white;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.color-pink {
  color: $pink;
}

.delete-red {
  color: $red-delete;
}